@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Roboto", system-ui, sans-serif;
    }
}


.userMessage {

    @apply flex w-full mt-2 space-x-3 max-w-xs ml-auto justify-end;
}

.chatContainer {
    background: rgba(32, 29, 29, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.userMessage_box {
    @apply bg-blue-600 text-white p-3 rounded-2xl;
    box-shadow: 0px 15px 5px 0px rgba(0, 0, 0, 0.5);
}

.userMessage_logo {
    @apply flex-shrink-0 h-10 w-10 rounded-full bg-cover bg-[url("https://images.unsplash.com/photo-1542909168-82c3e7fdca5c?auto=format&fit=crop&q=80&w=2080&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")];
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.7);
}

.userMessage_time {
    @apply text-xs text-gray-500 leading-none;
}

.systemMessage {
    @apply flex w-full mt-2 space-x-3 max-w-xs;
}

.systemMessage_logo {
    @apply flex-shrink-0 h-10 w-10 rounded-full bg-cover bg-[url("https://images.unsplash.com/photo-1464863979621-258859e62245?auto=format&fit=crop&q=80&w=1972&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")];
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.7);
}

.systemMessage_box {
    @apply bg-[#F9F9F9] p-3 rounded-2xl;
    box-shadow: 0px 15px 5px 0px rgba(0, 0, 0, 0.5);
}

.systemMessage_time {
    @apply text-xs text-gray-500 leading-none
}


.fancyBackground {
    background: url('https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_1280.jpg');
    @apply bg-no-repeat bg-cover
}

.inputContainer {
    background: rgba(76, 76, 76, 0.43);
    border-radius: 0.625rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    border: 1px solid rgba(76, 76, 76, 0.05);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #237fe1 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 20px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #237fe1;
    border-radius: 18px;
    border: 5px solid #ffffff;
}

h2 {
    @apply text-xl font-bold
}

h3 {
    @apply text-lg font-bold
}